---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="disclaimer">
    本文所表达的意见和分析不构成法律、税务、会计、投资或其他专业建议。读者在根据本文所载信息采取行动之前，应咨询其专业顾问。
    The opinions and analyses expressed in this website do not constitute legal, tax, accounting, investment or other professional advice. Readers should consult their professional advisors prior to acting on the information set forth herein.
  </div>

  {% include disqus.html %}
</article>
